src/views/pages/index.pug
//- index.pug
extends ../layout/h1.pug
block title
    title Главная
block content
    .hm-first-screen.mainWrapper.uk-flex.uk-flex-wrap
        .hm-first-screen__left.uk-width-large-1-2.uk-flex.uk-flex-column.uk-flex-space-between
          include ../template/hm-slider.pug
          +slider
        .hm-first-screen__right.uk-width-large-1-2.uk-flex.uk-flex-column.uk-flex-space-between
          .hm-first-screen__menu
              include ../template/menu.pug
              +menu(mainMenu)(class="menu-main")
          .hm-first-screen__center
            .logo
              img(src="../img/logo.png", alt="")
            include ../template/menu.pug
            +menu(['Chery','Lifan','Brilliance'])(class="menu-auto")
          .hm-first-screen__bottom
            .hm-first-screen__content
              .b-just
                a(href="#modal-call", data-uk-modal)
                  i.icon.sprite-i-phone-mobile
                  span Бесплатный звонок
                | &nbsp;
                a.hm-first-screen__phone(href="tel:+7(343) 211-10-01", target="") +7(343) 211-10-01
                | &nbsp;
                a(href="#modal-testdrive", data-uk-modal)
                  i.icon.sprite-i-car
                  span Запись на тест-драйв

block footer

build/index.html
<!DOCTYPE html><html><head><meta charset="UTF-8"><meta name="keywords" content=""><meta name="description" content=""><meta name="author" content=""><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="shortcut icon" href="/favicon.ico"><link rel="stylesheet" href="/css/main.css"><title>Главная</title></head><body><div class="hm-first-screen mainWrapper uk-flex uk-flex-wrap"><div class="hm-first-screen__left uk-width-large-1-2 uk-flex uk-flex-column uk-flex-space-between"><div class="hm-first-screen__top"></div><div class="hm-first-screen__center"><div class="hm-slider-wrap"><ul class="hm-slider-wrap__bg" id="hm-slider"><li style="background-image: url('../img/slide.jpg')"></li><li style="background-image: url('../img/slide.jpg')"></li></ul><div class="hm-slider"><div class="container-content"><ul class="hm-slider__caption" id="hm-slider-caption"><li class="uk-text-center"><div class="hm-slider__title"><div>Уже в продаже</div><h1>Возвращение легенды</h1></div><div class="hm-slider__caption">В автоцентре "Базовый" в продаже появилась новая модель<br>LAFANSOLANO II !</div><div class="hm-slider__countdown"><div class="countdown-wrap"><div class="countdown-wrap__title">До окончания акции:</div><div class="countdown" data-enddate="30.11.2016 08:21"></div></div></div></li><li class="uk-text-center"><div class="hm-slider__title"><div>Уже в продаже</div><h1>Возвращение легенды</h1></div><div class="hm-slider__caption">В автоцентре "Базовый" в продаже <br>появилась новая модель<br>LAFANSOLANO II !</div><div class="hm-slider__countdown"><div class="countdown-wrap"><div class="countdown-wrap__title">До окончания акции:</div><div class="countdown" data-enddate="29.11.2016 08:21"></div></div></div></li></ul></div></div></div></div><div class="hm-first-screen__bottom"><div class="hm-slider__pager" id="bx-pager"><a class="hm-slider__dotnav" href="#" data-slide-index="0"></a><a class="hm-slider__dotnav" href="#" data-slide-index="1"></a></div></div></div><div class="hm-first-screen__right uk-width-large-1-2 uk-flex uk-flex-column uk-flex-space-between"><div class="hm-first-screen__menu"><ul class="menu-main"><li class="menu-main__item"><a class="menu-main__link" href="#modal-auto" data-uk-modal>Автомобили</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-1">Акции</a></li><li class="menu-main__item active"><a class="menu-main__link" href="#anchor-2">Сервис</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-3">Трейд-ин</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-4">Контакты</a></li></ul></div><div class="hm-first-screen__center"><div class="logo"><img src="../img/logo.png" alt=""></div><ul class="menu-auto"><li class="menu-auto__item"><a class="menu-auto__link" href="#anchor-0">Chery</a></li><li class="menu-auto__item"><a class="menu-auto__link" href="#anchor-1">Lifan</a></li><li class="menu-auto__item active"><a class="menu-auto__link" href="#anchor-2">Brilliance</a></li></ul></div><div class="hm-first-screen__bottom"><div class="hm-first-screen__content"><div class="b-just"><a href="#modal-call" data-uk-modal><i class="icon sprite-i-phone-mobile"></i><span>Бесплатный звонок</span></a>&nbsp;<a class="hm-first-screen__phone" href="tel:+7(343) 211-10-01" target="">+7(343) 211-10-01</a>&nbsp;<a href="#modal-testdrive" data-uk-modal><i class="icon sprite-i-car"></i><span>Запись на тест-драйв</span></a></div></div></div></div></div><div class="uk-modal modal" id="modal-call"><div class="uk-modal-dialog"><a class="modal__close uk-modal-close icon sprite-close-18" href=""></a><div class="form form_light uk-form uk-form-stacked"><form id="" method="" action=""><div class="uk-form-row"><label class="uk-form-label">Вас зовут</label><input class="uk-width-1-1" type="text" placeholder="Введите ваше имя..."></div><div class="uk-form-row"><label class="uk-form-label">Контактный телефон</label><input class="uk-width-1-1 js-mask-phone" type="text" placeholder="+7 (900) 000-00-00"></div><div class="uk-form-row"><button class="btn uk-button uk-button-primary uk-width-1-1" type="submit">Перезвоните мне <i class="uk-icon-arrow-right"></i></button></div></form></div><div class="uk-modal-caption">Обратный звонок</div></div></div><div class="uk-modal modal" id="modal-testdrive"><div class="uk-modal-dialog"><a class="modal__close uk-modal-close icon sprite-close-18" href=""></a><div class="form form_light uk-form uk-form-stacked"><form id="" method="" action=""><div class="uk-form-row"><label class="uk-form-label">Вас зовут</label><input class="uk-width-1-1" type="text" placeholder="Введите ваше имя..."></div><div class="uk-form-row"><label class="uk-form-label">Контактный телефон</label><input class="uk-width-1-1 js-mask-phone" type="text" placeholder="+7 (900) 000-00-00"></div><div class="uk-form-row"><label class="uk-form-label">Выберите марку</label><div class="uk-form-select uk-width-1-1" data-uk-form-select><span></span><select><option>Модель не выбрана</option><option>Модель</option></select></div></div><div class="uk-form-row"><label class="uk-form-label">Выберите модель</label><div class="uk-form-select uk-width-1-1" data-uk-form-select><span></span><select><option>Модель не выбрана</option><option>Модель</option></select></div></div><div class="uk-form-row"><button class="btn uk-button uk-width-1-1" type="submit">Записаться на тест-драйв <i class="uk-icon-arrow-right"></i></button></div></form></div><div class="uk-modal-caption">Записаться на  тест-драйв</div></div></div><div class="uk-modal modal" id="modal-map"><div class="uk-modal-dialog uk-modal-dialog-lightbox modal__dialog-width-auto"><a class="uk-modal-close uk-close uk-close-alt" href=""></a><div class="modal-map"><div class="container-content container-content_padding-all"><div class="h1">Схема проезда</div><div class="map-switch js-map-switch"><a class="map-switch__item uk-margin-small uk-vertical-align" href="" style="background-image: url('../img/bg-map-switch-1.jpg')"><div class="uk-vertical-align-bottom">AMK-Екатеринбург</div></a><a class="map-switch__item uk-margin-small uk-vertical-align" href="" style="background-image: url('../img/bg-map-switch-2.jpg')"><div class="uk-vertical-align-bottom">Леруа Мерлен</div></a></div></div><div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2183.585946853844!2d60.65164331629693!3d56.81873598085186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16ea674c5c8bd%3A0xfa1a4b61ed96bc60!2z0JHQsNC30L7QstGL0Lkg0L_QtdGALiwgMTAsINCV0LrQsNGC0LXRgNC40L3QsdGD0YDQsywg0KHQstC10YDQtNC70L7QstGB0LrQsNGPINC-0LHQuy4sIDYyMDEwMA!5e0!3m2!1sru!2sru!4v1479712327111" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div></div></div></div><div class="uk-modal modal uk-text-center" id="modal-spinner"><div class="uk-modal-dialog uk-modal-dialog-lightbox modal__inline-block no-background"><div class="uk-hidden" id="modal-dialog-content"></div><div class="uk-modal-caption"></div><div class="uk-modal-spinner"></div></div></div><div class="uk-modal modal-blank" id="modal-auto"><div class="uk-modal-dialog uk-modal-dialog-blank no-background"><div class="modal-blank__top uk-clearfix uk-text-center"><a class="modal__btn uk-modal-close" href=""><i class="icon sprite-close"></i></a><div>Закрыть</div></div><div class="modal-auto uk-grid uk-grid-collapse uk-grid-width-large-1-3"><div class="modal-auto__item uk-flex uk-flex-column uk-flex-center" style="background-image: url('../img/slide.jpg')"><div class="modal-auto__content"><div class="modal-auto__logo"><img src="../img/logo-chery-big.png" alt=""></div><div class="modal-auto__name">Chery</div><ul class="menu-modal-auto"><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-0">Bonus</a></li><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-1">Indi5</a></li><li class="menu-modal-auto__item active"><a class="menu-modal-auto__link" href="#anchor-2">Tiggo 5</a></li><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-3">Tiggo FL</a></li><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-4">Arrizo 7</a></li></ul></div></div><div class="modal-auto__item uk-flex uk-flex-column uk-flex-center" style="background-image: url('../img/slideshow.jpg')"><div class="modal-auto__content"><div class="modal-auto__logo"><img src="../img/logo-lifan-big.png" alt=""></div><div class="modal-auto__name">Lifan</div><ul class="menu-modal-auto"><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-0">Bonus</a></li><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-1">Indi5</a></li><li class="menu-modal-auto__item active"><a class="menu-modal-auto__link" href="#anchor-2">Tiggo 5</a></li><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-3">Tiggo FL</a></li><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-4">Arrizo 7</a></li></ul></div></div><div class="modal-auto__item uk-flex uk-flex-column uk-flex-center" style="background-image: url('../img/trade-in.jpg')"><div class="modal-auto__content"><div class="modal-auto__logo"><img src="../img/logo-brilliance-big.png" alt=""></div><div class="modal-auto__name">Brilliance</div><ul class="menu-modal-auto"><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-0">H530</a></li><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-1">V5</a></li><li class="menu-modal-auto__item active"><a class="menu-modal-auto__link" href="#anchor-2">H320 Sedan</a></li></ul></div></div></div></div></div><div class="sidebar uk-offcanvas" id="sidebar"><div class="uk-offcanvas-bar"><div class="sidebar__wrapp uk-flex"><div class="sidebar__bar uk-flex uk-flex-column uk-flex-space-between"><div></div><div class="sidebar__logo"><a href="/"><img src="../img/logo-white.png" alt=""></a></div><nav class="sidebar__nav"><ul class="menu-sidebar"><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#modal-auto" data-uk-modal>Автомобили</a></li><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#anchor-1">Акции</a></li><li class="menu-sidebar__item active"><a class="menu-sidebar__link" href="#anchor-2">Сервис</a></li><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#anchor-3">Трейд-ин</a></li><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#anchor-4">Контакты</a></li></ul></nav><div></div><div class="sidebar__bottom"><div class="uk-margin"><a href="tel:+7 (343) 211 10 00 "><i class="icon sprite-i-phone-vol"></i> +7 (343) 211 10 00</a></div><div class="uk-margin form"><button class="uk-button" type="button" data-uk-modal="{target:'#modal-call'}">Бесплатный звонок</button></div><div class="uk-margin form"><button class="uk-button" type="button" data-uk-modal="{target:'#modal-testdrive'}">Записаться на тест-драйв</button></div></div></div></div></div></div><script src="/js/main.js"></script></body></html>
