build/lightbox-in.html
<div class="uk-clearfix modal__top"><div class="modal__btn-box modal__btn-box_no-border"><a class="modal__btn uk-modal-close" href=""><i class="icon sprite-close"></i></a></div><div class="modal__title">Chery Bonus</div></div><div class="mainWrapper mainWrapper_height-auto mainWrapper_lightbox modal-w890"><div class="auto-fotogallery auto-fotogallery_2"><div id="auto-fotogallery-box"><div class="slidecarousel"><ul id="slidecarousel"><li><img src="../img/slideshow.jpg" alt=""/></li><li><img src="../img/slideshow.jpg" alt=""/></li><li><img src="../img/slideshow.jpg" alt=""/></li><li><img src="../img/slideshow.jpg" alt=""/></li><li><img src="../img/slideshow.jpg" alt=""/></li></ul><div class="slidecarousel__pager"><div id="slidecarousel-bx-pager"><a data-slide-index="0" href=""><img src="../img/slideshow.jpg" width="128" height="80"/></a><a data-slide-index="1" href=""><img src="../img/slideshow.jpg" width="128" height="80"/></a><a data-slide-index="2" href=""><img src="../img/slideshow.jpg" width="128" height="80"/></a><a data-slide-index="3" href=""><img src="../img/slideshow.jpg" width="128" height="80"/></a><a data-slide-index="3" href=""><img src="../img/slideshow.jpg" width="128" height="80"/></a></div></div></div></div></div><div class="bg-box modal-in-content"><div class="uk-grid uk-grid-width-large-1-4 uk-grid-width-medium-1-2"><div>Год выпуска: <b>2011</b></div><div>Пробег: <b>68 000 км</b></div><div>Двигатель: <b>1,6</b></div><div>КПП: <b>5 МКПП</b></div></div></div><div class="bg-box bg-box_muted modal-in-content"><div class="form form_light uk-form uk-form-stacked"><div class="uk-grid uk-grid-width-large-1-3 uk-grid-width-medium-1-2"><div class="uk-form-controls"><label class="uk-form-label">Вас зовут</label><input class="uk-width-1-1" type="text" placeholder="Введите ваше имя..."/></div><div class="uk-form-controls"><label class="uk-form-label">Контактный телефон</label><input class="uk-width-1-1 js-mask-phone" type="text" placeholder="+7 (900) 000-00-00"/></div><div class="uk-form-controls"><label class="uk-form-label">&nbsp;</label><button class="btn uk-button uk-width-1-1">Перезвоните мне</button></div></div></div></div></div>

src/views/pages/lightbox-in.pug
.uk-clearfix.modal__top
  .modal__btn-box.modal__btn-box_no-border
    a(href="", class="modal__btn uk-modal-close")
      i.icon.sprite-close
  .modal__title Chery Bonus

.mainWrapper.mainWrapper_height-auto.mainWrapper_lightbox.modal-w890
  .auto-fotogallery.auto-fotogallery_2
    #auto-fotogallery-box
      include ../template/slidecarousel.pug
  .bg-box.modal-in-content
    .uk-grid.uk-grid-width-large-1-4.uk-grid-width-medium-1-2
      div Год выпуска: #[b 2011]
      div Пробег: #[b 68 000 км]
      div Двигатель: #[b 1,6]
      div КПП: #[b 5 МКПП]
  .bg-box.bg-box_muted.modal-in-content
    .form.form_light.uk-form.uk-form-stacked
      .uk-grid.uk-grid-width-large-1-3.uk-grid-width-medium-1-2
        .uk-form-controls
          label.uk-form-label Вас зовут
          input.uk-width-1-1(type="text", placeholder="Введите ваше имя...")
        .uk-form-controls
          label.uk-form-label Контактный телефон
          input.uk-width-1-1.js-mask-phone(type="text", placeholder="+7 (900) 000-00-00")
        .uk-form-controls
          label.uk-form-label &nbsp;
          button.btn.uk-button.uk-width-1-1 Перезвоните мне
