src/views/pages/lightbox-foto.pug
.modal-in
  .modal__top.uk-clearfix
    .modal__btn-box
      a(href="", class="modal__btn")
        i.icon.sprite-down
      a(href="", class="modal__btn uk-modal-close")
        i.icon.sprite-close
    ul.switch.modal__switch
      li.switch__item.uk-active
        a.switch__link.js-modal-foto(href="../lightbox-foto.html") Экстерьер
      li.switch__item
        a.switch__link.js-modal-foto(href="../lightbox-foto.html") Интерьер
  .mainWrapper.mainWrapper_lightbox
    .auto-fotogallery
      #auto-fotogallery-box
        include ../template/slidecarousel.pug

build/lightbox-foto.html
<div class="modal-in"><div class="modal__top uk-clearfix"><div class="modal__btn-box"><a class="modal__btn" href=""><i class="icon sprite-down"></i></a><a class="modal__btn uk-modal-close" href=""><i class="icon sprite-close"></i></a></div><ul class="switch modal__switch"><li class="switch__item uk-active"><a class="switch__link js-modal-foto" href="../lightbox-foto.html">Экстерьер</a></li><li class="switch__item"><a class="switch__link js-modal-foto" href="../lightbox-foto.html">Интерьер</a></li></ul></div><div class="mainWrapper mainWrapper_lightbox"><div class="auto-fotogallery"><div id="auto-fotogallery-box"><div class="slidecarousel"><ul id="slidecarousel"><li><img src="../img/slideshow.jpg" alt=""/></li><li><img src="../img/slideshow.jpg" alt=""/></li><li><img src="../img/slideshow.jpg" alt=""/></li><li><img src="../img/slideshow.jpg" alt=""/></li><li><img src="../img/slideshow.jpg" alt=""/></li></ul><div class="slidecarousel__pager"><div id="slidecarousel-bx-pager"><a data-slide-index="0" href=""><img src="../img/slideshow.jpg" width="128" height="80"/></a><a data-slide-index="1" href=""><img src="../img/slideshow.jpg" width="128" height="80"/></a><a data-slide-index="2" href=""><img src="../img/slideshow.jpg" width="128" height="80"/></a><a data-slide-index="3" href=""><img src="../img/slideshow.jpg" width="128" height="80"/></a><a data-slide-index="3" href=""><img src="../img/slideshow.jpg" width="128" height="80"/></a></div></div></div></div></div></div></div>
