build/models__one.html
<!DOCTYPE html><html><head><meta charset="UTF-8"><meta name="keywords" content=""><meta name="description" content=""><meta name="author" content=""><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="shortcut icon" href="/favicon.ico"><link rel="stylesheet" href="/css/main.css"><title>Bonus 3</title></head><body><div class="mainWrapper mainWrapper_bg uk-flex uk-flex-column" style="background-image: url(&quot;../img/slide.jpg&quot;)"><div class="first-screen uk-flex uk-flex-column"><div class="first-screen-top"><header class="header"><div class="container-content"><div class="uk-flex uk-flex-space-between uk-flex-wrap uk-flex-middle"><div class="header__left"><div class="header__logo"><a href="/"><img src="../img/logo-white.png"></a></div><nav class="header__nav"><ul class="menu-main"><li class="menu-main__item"><a class="menu-main__link" href="#modal-auto" data-uk-modal>Автомобили</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-1">Акции</a></li><li class="menu-main__item active"><a class="menu-main__link" href="#anchor-2">Сервис</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-3">Трейд-ин</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-4">Контакты</a></li></ul></nav></div><div class="header__right"><a class="header__phone" href="tel:+7 (343) 211 10 00 ">+7 (343) 211 10 00</a><a href="#modal-call" data-uk-modal><i class="icon sprite-i-phone-mobile"></i><span>Бесплатный звонок</span></a>&nbsp;<a href="#modal-testdrive" data-uk-modal><i class="icon sprite-i-car"></i><span>Запись на тест-драйв</span></a><a class="sidebar-tgl" href="#sidebar" data-uk-offcanvas>Меню <i class="uk-icon-bars"></i></a></div></div></div></header><div class="page-title"><div class="container-content"><ul class="breadcrumbs"><li class="breadcrumbs__item"><a href="/" target="">Главная</a></li> - <li class="breadcrumbs__item"><span>Bonus 3</span></li></ul><h1 class="page-title__h1">Bonus 3</h1></div></div></div><div class="first-screen-center uk-flex-middle uk-flex uk-flex-column uk-flex-center" id="anchor-0"><div class="container-content"><div class="actions-infobox-slider"><div id="actions-infobox-slider"><div class="actions-infobox__cont"><h2 class="actions-infobox__title">Выгодный кредит на <strong>VESTA</strong> <b>И</b> <strong>XRAY</strong> по схеме BUY BACK</h2><p class="actions-infobox__anons">Разнообразный и богатый опыт консультация с широким активом способствует подготовке и реализации форм развития.</p><div class="countdown-wrap"><div class="countdown-wrap__title">До окончания акции:</div><div class="countdown" data-enddate="30.11.2016 08:21"></div></div></div><div class="actions-infobox__cont"><h2 class="actions-infobox__title">Выгодный кредит на <strong>VESTA</strong> <b>И</b> <strong>XRAY</strong> по схеме BUY BACK</h2><p class="actions-infobox__anons">Разнообразный и богатый опыт консультация с широким активом способствует подготовке и реализации форм развития.</p><div class="countdown-wrap"><div class="countdown-wrap__title">До окончания акции:</div><div class="countdown" data-enddate="30.11.2016 08:21"></div></div></div><div class="actions-infobox__cont"><h2 class="actions-infobox__title">Выгодный кредит на <strong>VESTA</strong> <b>И</b> <strong>XRAY</strong> по схеме BUY BACK</h2><p class="actions-infobox__anons">Разнообразный и богатый опыт консультация с широким активом способствует подготовке и реализации форм развития.</p><div class="countdown-wrap"><div class="countdown-wrap__title">До окончания акции:</div><div class="countdown" data-enddate="30.11.2016 08:21"></div></div></div></div></div></div></div></div></div><div class="mainWrapper mainWrapper_height-auto"><div class="container-content"><ul class="menu-anchor" data-uk-scrollspy-nav="{closest:'li', smoothscroll:true}"><li class="menu-anchor__item"><a class="menu-anchor__link" href="#anchor-0">Акции</a></li><li class="menu-anchor__item"><a class="menu-anchor__link" href="#anchor-1">Комплектации</a></li><li class="menu-anchor__item active"><a class="menu-anchor__link" href="#anchor-2">Описание и фото</a></li><li class="menu-anchor__item"><a class="menu-anchor__link" href="#anchor-3">Записаться на тест-драйв</a></li></ul><div id="anchor-1"><div class="title">Комплектации</div><div class="content"><table><tr><th>Цена</th><th><span class="uk-text-primary">485 900 руб.</span> (Standart)</th><th><span class="uk-text-primary">485 900 руб.</span> (Comfort)</th></tr><tbody><tr><td colspan="3">Аудио</td></tr><tr><td>4 динамика</td><td><i class="icon sprite-i-check"></i></td><td><i class="icon sprite-i-check"></i></td></tr><tr><td>Радио, разъем USB</td><td></td><td><i class="icon sprite-i-check"></i></td></tr><tr><td>CD плеер, разъем USB</td><td><i class="icon sprite-i-check"></i></td><td></td></tr></tbody><tbody><tr><td colspan="3">Аудио</td></tr><tr><td>4 динамика</td><td><i class="icon sprite-i-check"></i></td><td><i class="icon sprite-i-check"></i></td></tr><tr><td>Радио, разъем USB</td><td></td><td><i class="icon sprite-i-check"></i></td></tr><tr><td>CD плеер, разъем USB</td><td><i class="icon sprite-i-check"></i></td><td></td></tr></tbody></table></div></div></div><div id="anchor-2"><div class="container-content container-content_padding-all"><div class="title"> Описание и фото</div></div><div class="caption-and-foto"><div class="uk-grid uk-grid-collapse uk-grid-width-medium-1-2"><div class="caption-and-foto__item caption-and-foto__item_caption uk-vertical-align"><div class="content uk-vertical-align-middle"><p>Новинкой в семье автомобилей марки Chery стала малолитражная и маневренная Чери Бонус 3, сошедшая с конвейера в 2014 году. Этот бюджетный седан обещает в скором времени стать символом практичности и комфорта, лишенного излишней вычурности.</p><p><b>Экстерьер Chery Bonus 3</b>
Новинкой в семье автомобилей марки Chery стала малолитражная и маневренная Чери Бонус 3, сошедшая с конвейера в 2014 году. Этот бюджетный седан обещает в скором времени стать символом практичности и комфорта, лишенного излишней вычурности.</p><a class="more js-modal-foto" href="../lightbox-foto.html">Посмотреть фото Chery Bonus 3 <i class="uk-icon-arrow-right"></i></a></div></div><div class="caption-and-foto__item caption-and-foto__item_foto"><img src="../img/captionfoto.jpg"></div></div></div><div class="caption-and-foto"><div class="uk-grid uk-grid-collapse uk-grid-width-medium-1-2"><div class="caption-and-foto__item caption-and-foto__item_foto"><img src="../img/captionfoto.jpg"></div><div class="caption-and-foto__item caption-and-foto__item_caption uk-vertical-align"><div class="content uk-vertical-align-middle"><p>Новинкой в семье автомобилей марки Chery стала малолитражная и маневренная Чери Бонус 3, сошедшая с конвейера в 2014 году. Этот бюджетный седан обещает в скором времени стать символом практичности и комфорта, лишенного излишней вычурности.</p><p><b>Экстерьер Chery Bonus 3</b>
Новинкой в семье автомобилей марки Chery стала малолитражная и маневренная Чери Бонус 3, сошедшая с конвейера в 2014 году. Этот бюджетный седан обещает в скором времени стать символом практичности и комфорта, лишенного излишней вычурности.</p><a class="more js-modal-foto" href="../lightbox-foto.html">Посмотреть фото Chery Bonus 3 <i class="uk-icon-arrow-right"></i></a></div></div></div></div></div><div id="anchor-3"><div class="bg-box bg-box_dark uk-padding-remove"><div class="container-content container-content_padding-all"><div class="title">Записаться на тест-драйв</div><div class="form uk-form uk-form-stacked"><form method="" id=""><div class="uk-grid uk-grid-small uk-grid-width-large-1-5 uk-grid-width-medium-1-2 uk-grid-width-small-1-1"><div class="uk-form-controls uk-margin-small-bottom"><label class="uk-form-label">Вас зовут</label><input class="uk-width-1-1" type="text" placeholder="Введите ваше имя"></div><div class="uk-form-controls uk-margin-small-bottom"><label class="uk-form-label">Контактный телефон</label><input class="uk-width-1-1 js-mask-phone" type="text" placeholder="+7 (900) 000-00-00"></div><div class="uk-form-controls uk-margin-small-bottom"><label class="uk-form-label">Выберите марку</label><div class="uk-form-select uk-width-1-1" data-uk-form-select><span></span><select><option>Модель не выбрана</option><option>Модель</option></select></div></div><div class="uk-form-controls uk-margin-small-bottom"><label class="uk-form-label">Выберите модель</label><div class="uk-form-select uk-width-1-1" data-uk-form-select><span></span><select><option>Модель не выбрана</option><option>Модель</option></select></div></div><div class="uk-form-controls uk-margin-small-bottom"><label class="uk-form-label">&nbsp;</label><button class="uk-button uk-width-1-1">Записаться <i class="uk-icon-arrow-right uk-text-primary"></i></button></div></div></form></div></div></div></div><div class="footWrap"></div></div><footer class="footer"><div class="container-content"><div class="footer__row uk-flex uk-flex-wrap uk-flex-middle"><div class="footer__left"><div class="foot-menu-auto"><a class="foot-menu-auto__item"><div class="foot-menu-auto__img"><img src="../img/logo-chery.png" alt=""></div><span>Chery</span></a><a class="foot-menu-auto__item"><div class="foot-menu-auto__img"><img src="../img/logo-lifan.png" alt=""></div><span>Lifan</span></a><a class="foot-menu-auto__item"><div class="foot-menu-auto__img"><img src="../img/logo-brilliance.png" alt=""></div><span>Brilliance</span></a></div></div><div class="footer__center"><ul class="menu-main"><li class="menu-main__item"><a class="menu-main__link" href="#modal-auto" data-uk-modal>Автомобили</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-1">Акции</a></li><li class="menu-main__item active"><a class="menu-main__link" href="#anchor-2">Сервис</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-3">Трейд-ин</a></li><li class="menu-main__item"><a class="menu-main__link" href="#anchor-4">Контакты</a></li></ul></div><div class="footer__right"><div class="footer__adres"><strong>АМК-Екатеринбург</strong> <br> Екатеринбург, переулок Базовый, 10</div><div class="footer__soc"><a class="footer__soc-link" href="http://" target="_blank"><i class="uk-icon-vk"></i></a></div></div></div></div></footer><div class="uk-modal modal" id="modal-call"><div class="uk-modal-dialog"><a class="modal__close uk-modal-close icon sprite-close-18" href=""></a><div class="form form_light uk-form uk-form-stacked"><form id="" method="" action=""><div class="uk-form-row"><label class="uk-form-label">Вас зовут</label><input class="uk-width-1-1" type="text" placeholder="Введите ваше имя..."></div><div class="uk-form-row"><label class="uk-form-label">Контактный телефон</label><input class="uk-width-1-1 js-mask-phone" type="text" placeholder="+7 (900) 000-00-00"></div><div class="uk-form-row"><button class="btn uk-button uk-button-primary uk-width-1-1" type="submit">Перезвоните мне <i class="uk-icon-arrow-right"></i></button></div></form></div><div class="uk-modal-caption">Обратный звонок</div></div></div><div class="uk-modal modal" id="modal-testdrive"><div class="uk-modal-dialog"><a class="modal__close uk-modal-close icon sprite-close-18" href=""></a><div class="form form_light uk-form uk-form-stacked"><form id="" method="" action=""><div class="uk-form-row"><label class="uk-form-label">Вас зовут</label><input class="uk-width-1-1" type="text" placeholder="Введите ваше имя..."></div><div class="uk-form-row"><label class="uk-form-label">Контактный телефон</label><input class="uk-width-1-1 js-mask-phone" type="text" placeholder="+7 (900) 000-00-00"></div><div class="uk-form-row"><label class="uk-form-label">Выберите марку</label><div class="uk-form-select uk-width-1-1" data-uk-form-select><span></span><select><option>Модель не выбрана</option><option>Модель</option></select></div></div><div class="uk-form-row"><label class="uk-form-label">Выберите модель</label><div class="uk-form-select uk-width-1-1" data-uk-form-select><span></span><select><option>Модель не выбрана</option><option>Модель</option></select></div></div><div class="uk-form-row"><button class="btn uk-button uk-width-1-1" type="submit">Записаться на тест-драйв <i class="uk-icon-arrow-right"></i></button></div></form></div><div class="uk-modal-caption">Записаться на  тест-драйв</div></div></div><div class="uk-modal modal" id="modal-map"><div class="uk-modal-dialog uk-modal-dialog-lightbox modal__dialog-width-auto"><a class="uk-modal-close uk-close uk-close-alt" href=""></a><div class="modal-map"><div class="container-content container-content_padding-all"><div class="h1">Схема проезда</div><div class="map-switch js-map-switch"><a class="map-switch__item uk-margin-small uk-vertical-align" href="" style="background-image: url('../img/bg-map-switch-1.jpg')"><div class="uk-vertical-align-bottom">AMK-Екатеринбург</div></a><a class="map-switch__item uk-margin-small uk-vertical-align" href="" style="background-image: url('../img/bg-map-switch-2.jpg')"><div class="uk-vertical-align-bottom">Леруа Мерлен</div></a></div></div><div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2183.585946853844!2d60.65164331629693!3d56.81873598085186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16ea674c5c8bd%3A0xfa1a4b61ed96bc60!2z0JHQsNC30L7QstGL0Lkg0L_QtdGALiwgMTAsINCV0LrQsNGC0LXRgNC40L3QsdGD0YDQsywg0KHQstC10YDQtNC70L7QstGB0LrQsNGPINC-0LHQuy4sIDYyMDEwMA!5e0!3m2!1sru!2sru!4v1479712327111" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div></div></div></div><div class="uk-modal modal uk-text-center" id="modal-spinner"><div class="uk-modal-dialog uk-modal-dialog-lightbox modal__inline-block no-background"><div class="uk-hidden" id="modal-dialog-content"></div><div class="uk-modal-caption"></div><div class="uk-modal-spinner"></div></div></div><div class="uk-modal modal-blank" id="modal-auto"><div class="uk-modal-dialog uk-modal-dialog-blank no-background"><div class="modal-blank__top uk-clearfix uk-text-center"><a class="modal__btn uk-modal-close" href=""><i class="icon sprite-close"></i></a><div>Закрыть</div></div><div class="modal-auto uk-grid uk-grid-collapse uk-grid-width-large-1-3"><div class="modal-auto__item uk-flex uk-flex-column uk-flex-center" style="background-image: url('../img/slide.jpg')"><div class="modal-auto__content"><div class="modal-auto__logo"><img src="../img/logo-chery-big.png" alt=""></div><div class="modal-auto__name">Chery</div><ul class="menu-modal-auto"><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-0">Bonus</a></li><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-1">Indi5</a></li><li class="menu-modal-auto__item active"><a class="menu-modal-auto__link" href="#anchor-2">Tiggo 5</a></li><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-3">Tiggo FL</a></li><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-4">Arrizo 7</a></li></ul></div></div><div class="modal-auto__item uk-flex uk-flex-column uk-flex-center" style="background-image: url('../img/slideshow.jpg')"><div class="modal-auto__content"><div class="modal-auto__logo"><img src="../img/logo-lifan-big.png" alt=""></div><div class="modal-auto__name">Lifan</div><ul class="menu-modal-auto"><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-0">Bonus</a></li><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-1">Indi5</a></li><li class="menu-modal-auto__item active"><a class="menu-modal-auto__link" href="#anchor-2">Tiggo 5</a></li><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-3">Tiggo FL</a></li><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-4">Arrizo 7</a></li></ul></div></div><div class="modal-auto__item uk-flex uk-flex-column uk-flex-center" style="background-image: url('../img/trade-in.jpg')"><div class="modal-auto__content"><div class="modal-auto__logo"><img src="../img/logo-brilliance-big.png" alt=""></div><div class="modal-auto__name">Brilliance</div><ul class="menu-modal-auto"><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-0">H530</a></li><li class="menu-modal-auto__item"><a class="menu-modal-auto__link" href="#anchor-1">V5</a></li><li class="menu-modal-auto__item active"><a class="menu-modal-auto__link" href="#anchor-2">H320 Sedan</a></li></ul></div></div></div></div></div><div class="sidebar uk-offcanvas" id="sidebar"><div class="uk-offcanvas-bar"><div class="sidebar__wrapp uk-flex"><div class="sidebar__bar uk-flex uk-flex-column uk-flex-space-between"><div></div><div class="sidebar__logo"><a href="/"><img src="../img/logo-white.png" alt=""></a></div><nav class="sidebar__nav"><ul class="menu-sidebar"><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#modal-auto" data-uk-modal>Автомобили</a></li><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#anchor-1">Акции</a></li><li class="menu-sidebar__item active"><a class="menu-sidebar__link" href="#anchor-2">Сервис</a></li><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#anchor-3">Трейд-ин</a></li><li class="menu-sidebar__item"><a class="menu-sidebar__link" href="#anchor-4">Контакты</a></li></ul></nav><div></div><div class="sidebar__bottom"><div class="uk-margin"><a href="tel:+7 (343) 211 10 00 "><i class="icon sprite-i-phone-vol"></i> +7 (343) 211 10 00</a></div><div class="uk-margin form"><button class="uk-button" type="button" data-uk-modal="{target:'#modal-call'}">Бесплатный звонок</button></div><div class="uk-margin form"><button class="uk-button" type="button" data-uk-modal="{target:'#modal-testdrive'}">Записаться на тест-драйв</button></div></div></div></div></div></div><script src="/js/main.js"></script></body></html>

src/views/pages/models__one.pug
extends ../layout/mainwrapp.pug
block title
    title Bonus 3
block variables
    - var mainWrapperClass = 'mainWrapper_bg uk-flex uk-flex-column'
    - var mainWrapperStyle = 'background-image: url("../img/slide.jpg")'
    - var firstScreenClass = 'uk-flex uk-flex-column'
block header
  div.first-screen-top
    include ../template/header.pug
    +header()
    include ../template/page-title.pug
    +page-title('Bonus 3')
block pagetitle

block content
  .first-screen-center.uk-flex-middle.uk-flex.uk-flex-column.uk-flex-center#anchor-0
    .container-content
      include ../data/actions.pug
      include ../template/actions-infobox-slider.pug
      block footWrap
block content2
  .mainWrapper.mainWrapper_height-auto
    .container-content
      include ../template/menu.pug
      +menu(['Акции','Комплектации', 'Описание и фото', 'Записаться на тест-драйв'])(class="menu-anchor", data-uk-scrollspy-nav="{closest:'li', smoothscroll:true}")
      #anchor-1
        .title Комплектации
        .content
          table
            tr
              th Цена
              th #[span.uk-text-primary 485 900 руб.] (Standart)
              th #[span.uk-text-primary 485 900 руб.] (Comfort)
            tbody
              tr
                td(colspan=3) Аудио
              tr
                td 4 динамика
                td #[i.icon.sprite-i-check]
                td #[i.icon.sprite-i-check]
              tr
                td Радио, разъем USB
                td
                td #[i.icon.sprite-i-check]
              tr
                td CD плеер, разъем USB
                td #[i.icon.sprite-i-check]
                td
            tbody
              tr
                td(colspan=3) Аудио
              tr
                td 4 динамика
                td #[i.icon.sprite-i-check]
                td #[i.icon.sprite-i-check]
              tr
                td Радио, разъем USB
                td
                td #[i.icon.sprite-i-check]
              tr
                td CD плеер, разъем USB
                td #[i.icon.sprite-i-check]
                td
    #anchor-2
      include ../template/model-caption-and-foto.pug
    #anchor-3
      .bg-box.bg-box_dark.uk-padding-remove
        .container-content.container-content_padding-all
          .title Записаться на тест-драйв
          .form.uk-form.uk-form-stacked
            form(method="", id="")
              .uk-grid.uk-grid-small.uk-grid-width-large-1-5.uk-grid-width-medium-1-2.uk-grid-width-small-1-1
                .uk-form-controls.uk-margin-small-bottom
                  label.uk-form-label Вас зовут
                  input.uk-width-1-1(type='text', placeholder="Введите ваше имя")
                .uk-form-controls.uk-margin-small-bottom
                  label.uk-form-label Контактный телефон
                  input.uk-width-1-1.js-mask-phone(type='text', placeholder="+7 (900) 000-00-00")
                .uk-form-controls.uk-margin-small-bottom
                  label.uk-form-label Выберите марку
                  .uk-form-select.uk-width-1-1(data-uk-form-select)
                    span
                    select
                      option Модель не выбрана
                      option Модель
                .uk-form-controls.uk-margin-small-bottom
                  label.uk-form-label Выберите модель
                  .uk-form-select.uk-width-1-1(data-uk-form-select)
                    span
                    select
                      option Модель не выбрана
                      option Модель
                .uk-form-controls.uk-margin-small-bottom
                  label.uk-form-label &nbsp;
                  button.uk-button.uk-width-1-1() Записаться #[i.uk-icon-arrow-right.uk-text-primary]

    .footWrap
